<!-- All paths are relative to root test directory -->
<config>
    <!-- order matters here -->
    <load location="config/jasmine/jasmine.js"/>
    <load location="config/jasmine/jasmine-html.js"/>
    <load location="config/jasmine.phantomjs-reporter.js"/>

    <load location="util/*.js" description="test utils"/>

    <load location="../simple-feature-detector.min.js" description="source JavaScript files to test"/>
    <load location="suites/*.js" description="test specs"/>
</config>
